{% extends "base.html" %}
{% block content %}
{% include 'title.html' %}
<div class="box">
{% for ms in list %}
<div class=" text-muted  border-bottom">
      <p class="pb-3 mb-0 small lh-sm">
        <strong class="d-block text-gray-dark"> {{ ms.subtopic.name }} - {{ms.exercise.number }}</strong>
        {{ms.text}}
      </p>

    <small class="d-block text-end mt-3">
                 <a class="btn-link" href="/forum/{{ms.exercise_id}}">
                     Перейти
                 </a>
    </small>
</div>
    {% endfor %}
</div>

<div class="fixed-bottom">
    <nav aria-label="...">
  <ul class="pagination pagination-sm">
      {%for i in range(1, all_pages+1) %}
      {% if i == current_page %}
      <li class="page-item active" aria-current="page">
      <span class="page-link">{{i}}</span>
    </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="/comments{{i}}">{{i}}</a></li>
      {% endif%}
      {% endfor %}
  </ul>

</nav>
</div>
{% endblock %}